doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, user-scalable=yes")
    link(rel="shortcut icon" href="/ciuccio.png" type="image/png")
    link(rel="icon" href="/ciuccio.png" type="image/png")
    link(rel="apple-touch-icon" href="/stork_share.png")
    meta(http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-04-17" content="AlzCcWeXV0jSt2VrnpoQxlmWHYWJ1U6gfI5hrIUIny8183xw9+NougnCJerntvaaQ2/hNVZfTMlw/Liv9l74kgMAAABgeyJvcmlnaW4iOiJodHRwczovL2NhdGUubGFyaWNldHRhZGVsbGFmZWxpY2l0YS5pdDo0NDMiLCJmZWF0dXJlIjoiV2ViU2hhcmUiLCJleHBpcnkiOjE0OTI0NzM2MDB9")
    meta(property="og:image" content="https://cate.laricettadellafelicita.it/stork_share.png")
    meta(property="og:title" content="È nata Caterina??")
    meta(property="og:description" content="Ti interessa sapere quando nascerà Caterina? Tieniti informato con questo link! Le linee telefoniche dei genitori sono intasate.")
    meta(name="theme-color" content=`${nata ? '#F39C12' : '#9B59B6'}`)
    meta(name="apple-mobile-web-app-status-bar-style" content=`${nata ? '#F39C12' : '#9B59B6'}`)
    link(rel="manifest" href="./manifest.json")

    title È nata Caterina??
    link(
      href="https://fonts.googleapis.com/css?family=Lobster"
      rel="stylesheet"
    )
    link(rel="stylesheet" href="./style.css")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66534419-2', 'auto');
      ga('send', 'pageview');
  
  body(class=`${nata ? 'yes' : 'no'}`)
    .wrap
      .title= titolo
      .answer
        div= text
        if nata
          div
            if cm
              span.cm
                include ./length.svg
                | #{cm} cm
            if kg
              span.kg
                include ./weight.svg
                | #{kg} Kg
      .liste
        div Liste nascita:
        a#amazon(href="http://amzn.eu/dOlwzDX")
          img(src="./logo-lista-amazon.png")
        a#prenatal(href="https://www.prenatal.com/it_it/birthlist?tk=b3lwbjRxPU1KREpFRkxNS0ZIR0VMSEY7NkIycj1mOw==")
          img(src="./logo-lista-prenatal.png")
      .footer
        a.button#subscribe Tienimi aggiornato!
        #subscribed 👍
        a.button#share Condividi
        div Vale <small>&amp;</small> Giko
      
    script(src="./main.js" charset="utf-8")
